In [1]:
a<-read.csv("Train_Match_1.csv")

In [2]:
library(dplyr)
library(magrittr)
library(tidyr)

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union


Attaching package: ‘tidyr’

The following object is masked from ‘package:magrittr’:

    extract

In [3]:
glimpse(a)

Observations: 1,236
Variables: 196
$ recordid (int) 3, 4, 5, 9, 14, 19, 34, 39, 44, 49, 54, 59, 64, 69, 72, 73...
$ iid      (int) 1, 1, 1, 1, 2, 2, 4, 4, 5, 5, 6, 6, 7, 7, 8, 8, 8, 8, 8, 8...
$ id       (int) 1, 1, 1, 1, 2, 2, 4, 4, 5, 5, 6, 6, 7, 7, 8, 8, 8, 8, 8, 8...
$ gender   (int) 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...
$ idg      (int) 1, 1, 1, 1, 3, 3, 7, 7, 9, 9, 11, 11, 13, 13, 15, 15, 15, ...
$ condtn   (int) 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1...
$ wave     (int) 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1...
$ round    (int) 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10...
$ position (int) 7, 7, 7, 7, 3, 3, 6, 6, 4, 4, 8, 8, 5, 5, 10, 10, 10, 10, ...
$ positin1 (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ order    (int) 10, 5, 7, 8, 1, 4, 4, 7, 2, 5, 6, 9, 3, 6, 6, 3, 8, 10, 9,...
$ partner  (int) 3, 4, 5, 9, 4, 9, 4, 9, 4, 9, 4, 9, 4, 9, 2, 3, 4, 5, 6, 8...
$ pid      (int) 13, 14, 15, 19, 14, 19, 14, 19, 14, 19, 14, 19, 14, 19, 12...
$ match    (int) 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1...
$ int_corr (dbl) 0.16, 0.61, 0.21, 0.28, -0.21, 0.11, -0.18, -0.47, 0.08, -...
$ samerace (int) 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1...
$ age_o    (int) 22, 23, 24, 28, 23, 28, 23, 28, 23, 28, 23, 28, 23, 28, 22...
$ race_o   (int) 4, 2, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 4, 2, 3, 2, 2...
$ pf_o_att (dbl) 19.00, 30.00, 30.00, 50.00, 30.00, 50.00, 30.00, 50.00, 30...
$ pf_o_sin (dbl) 18.00, 5.00, 10.00, 0.00, 5.00, 0.00, 5.00, 0.00, 5.00, 0....
$ pf_o_int (dbl) 19.00, 15.00, 20.00, 25.00, 15.00, 25.00, 15.00, 25.00, 15...
$ pf_o_fun (dbl) 18.00, 40.00, 10.00, 10.00, 40.00, 10.00, 40.00, 10.00, 40...
$ pf_o_amb (dbl) 14.00, 5.00, 10.00, 0.00, 5.00, 0.00, 5.00, 0.00, 5.00, 0....
$ pf_o_sha (dbl) 12.00, 5.00, 20.00, 15.00, 5.00, 15.00, 5.00, 15.00, 5.00,...
$ dec_o    (int) 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1...
$ attr_o   (dbl) 10, 7, 8, 7, 9, 8, 7, 7, 6, 5, 6, 6, 8, 9, 8, 10, 8, 9, 8,...
$ sinc_o   (int) 10, 8, 7, 7, 9, 6, 7, 7, 8, 9, 8, 7, 8, 7, 8, 10, 8, 9, 7,...
$ intel_o  (dbl) 10, 9, 9, 8, 9, 9, 7, 7, 6, 9, 8, 7, 9, 9, 10, 10, 8, 8, 7...
$ fun_o    (dbl) 10, 8, 6, 8, 9, 9, 9, 10, 8, 9, 7, 6, 8, 9, 7, 10, 8, 9, 7...
$ amb_o    (dbl) 10, 9, 9, 8, 9, 8, 9, 9, 10, 9, 9, 6, 9, 9, 6, 10, 8, NA, ...
$ shar_o   (dbl) 10, 8, 7, 9, 9, 7, 9, 10, 10, 6, 8, 6, 9, 10, 5, 10, 7, 7,...
$ like_o   (dbl) 10.0, 7.0, 8.0, 6.5, 9.0, 8.0, 8.0, 8.0, 7.0, 7.0, 7.0, 6....
$ prob_o   (dbl) 10, 7, 6, 8, 7, 8, 10, 8, 7, 7, 7, 6, 7, 9, 4, 10, 7, 7, 6...
$ met_o    (int) 1, 2, 2, 2, 2, 2, 1, 2, 1, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2...
$ age      (int) 21, 21, 21, 21, 24, 24, 23, 23, 21, 21, 23, 23, 22, 22, 25...
$ field    (fctr) Law, Law, Law, Law, law, law, Law, Law, Law, Law, law, la...
$ field_cd (int) 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 13, 13, 13, 13, ...
$ undergra (fctr) , , , , , , , , , , , , , , , , , , , , , , , , ,
$ mn_sat   (fctr) , , , , , , , , , , , , , , , , , , , , , , , , ,
$ tuition  (fctr) , , , , , , , , , , , , , , , , , , , , , , , , ,
$ race     (int) 4, 4, 4, 4, 2, 2, 2, 2, 2, 2, 4, 4, 4, 4, 2, 2, 2, 2, 2, 2...
$ imprace  (int) 2, 2, 2, 2, 2, 2, 1, 1, 8, 8, 1, 1, 2, 2, 1, 1, 1, 1, 1, 1...
$ imprelig (int) 4, 4, 4, 4, 5, 5, 1, 1, 1, 1, 1, 1, 4, 4, 1, 1, 1, 1, 1, 1...
$ from     (fctr) Chicago, Chicago, Chicago, Chicago, Alabama, Alabama, Tex...
$ zipcode  (fctr) 60,521, 60,521, 60,521, 60,521, 35,223, 35,223, 77,096, 7...
$ income   (fctr) 69,487.00, 69,487.00, 69,487.00, 69,487.00, 65,929.00, 65...
$ goal     (int) 2, 2, 2, 2, 1, 1, 1, 1, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1...
$ date     (int) 7, 7, 7, 7, 5, 5, 5, 5, 4, 4, 3, 3, 5, 5, 5, 5, 5, 5, 5, 5...
$ go_out   (int) 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1...
$ career   (fctr) lawyer, lawyer, lawyer, lawyer, law, law, lawyer/policy w...
$ career_c (int) NA, NA, NA, NA, NA, NA, 1, 1, 1, 1, 1, 1, 1, 1, 6, 6, 6, 6...
$ sports   (int) 9, 9, 9, 9, 3, 3, 1, 1, 7, 7, 10, 10, 5, 5, 2, 2, 2, 2, 2,...
$ tvsports (int) 2, 2, 2, 2, 2, 2, 1, 1, 4, 4, 8, 8, 3, 3, 2, 2, 2, 2, 2, 2...
$ exercise (int) 8, 8, 8, 8, 7, 7, 6, 6, 7, 7, 9, 9, 4, 4, 1, 1, 1, 1, 1, 1...
$ dining   (int) 9, 9, 9, 9, 10, 10, 7, 7, 7, 7, 7, 7, 10, 10, 10, 10, 10, ...
$ museums  (int) 1, 1, 1, 1, 8, 8, 6, 6, 6, 6, 8, 8, 10, 10, 9, 9, 9, 9, 9,...
$ art      (int) 1, 1, 1, 1, 6, 6, 7, 7, 8, 8, 7, 7, 10, 10, 9, 9, 9, 9, 9,...
$ hiking   (int) 5, 5, 5, 5, 3, 3, 7, 7, 6, 6, 9, 9, 2, 2, 3, 3, 3, 3, 3, 3...
$ gaming   (int) 1, 1, 1, 1, 5, 5, 5, 5, 6, 6, 2, 2, 3, 3, 2, 2, 2, 2, 2, 2...
$ clubbing (int) 5, 5, 5, 5, 8, 8, 7, 7, 8, 8, 6, 6, 8, 8, 10, 10, 10, 10, ...
$ reading  (int) 6, 6, 6, 6, 10, 10, 7, 7, 6, 6, 9, 9, 8, 8, 8, 8, 8, 8, 8,...
$ tv       (int) 9, 9, 9, 9, 1, 1, 7, 7, 8, 8, 2, 2, 8, 8, 10, 10, 10, 10, ...
$ theater  (int) 1, 1, 1, 1, 9, 9, 9, 9, 6, 6, 5, 5, 10, 10, 9, 9, 9, 9, 9,...
$ movies   (int) 10, 10, 10, 10, 8, 8, 7, 7, 6, 6, 6, 6, 10, 10, 9, 9, 9, 9...
$ concerts (int) 10, 10, 10, 10, 7, 7, 8, 8, 3, 3, 6, 6, 10, 10, 6, 6, 6, 6...
$ music    (int) 9, 9, 9, 9, 8, 8, 7, 7, 7, 7, 4, 4, 10, 10, 6, 6, 6, 6, 6,...
$ shopping (int) 8, 8, 8, 8, 3, 3, 1, 1, 8, 8, 1, 1, 10, 10, 8, 8, 8, 8, 8,...
$ yoga     (int) 1, 1, 1, 1, 1, 1, 8, 8, 3, 3, 1, 1, 10, 10, 6, 6, 6, 6, 6,...
$ exphappy (int) 3, 3, 3, 3, 4, 4, 1, 1, 7, 7, 4, 4, 7, 7, 6, 6, 6, 6, 6, 6...
$ expnum   (int) 2, 2, 2, 2, 5, 5, 2, 2, 10, 10, 3, 3, 3, 3, 10, 10, 10, 10...
$ attr1_1  (dbl) 15.00, 15.00, 15.00, 15.00, 45.00, 45.00, 20.00, 20.00, 20...
$ sinc1_1  (dbl) 20.00, 20.00, 20.00, 20.00, 5.00, 5.00, 20.00, 20.00, 5.00...
$ intel1_1 (dbl) 20.00, 20.00, 20.00, 20.00, 25.00, 25.00, 20.00, 20.00, 25...
$ fun1_1   (dbl) 15.00, 15.00, 15.00, 15.00, 20.00, 20.00, 20.00, 20.00, 25...
$ amb1_1   (dbl) 15.00, 15.00, 15.00, 15.00, 0.00, 0.00, 10.00, 10.00, 10.0...
$ shar1_1  (dbl) 15.00, 15.00, 15.00, 15.00, 5.00, 5.00, 10.00, 10.00, 15.0...
$ attr4_1  (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ sinc4_1  (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ intel4_1 (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ fun4_1   (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ amb4_1   (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ shar4_1  (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ attr2_1  (dbl) 35, 35, 35, 35, 65, 65, 30, 30, 50, 50, 25, 25, 30, 30, 30...
$ sinc2_1  (dbl) 20, 20, 20, 20, 0, 0, 10, 10, 10, 10, 10, 10, 12, 12, 10, ...
$ intel2_1 (dbl) 15, 15, 15, 15, 10, 10, 15, 15, 10, 10, 10, 10, 13, 13, 20...
$ fun2_1   (dbl) 20, 20, 20, 20, 25, 25, 30, 30, 20, 20, 25, 25, 25, 25, 30...
$ amb2_1   (dbl) 5, 5, 5, 5, 0, 0, 5, 5, 5, 5, 10, 10, 10, 10, 5, 5, 5, 5, ...
$ shar2_1  (dbl) 5, 5, 5, 5, 0, 0, 10, 10, 5, 5, 20, 20, 10, 10, 5, 5, 5, 5...
$ attr3_1  (int) 6, 6, 6, 6, 7, 7, 7, 7, 6, 6, 5, 5, 6, 6, 7, 7, 7, 7, 7, 7...
$ sinc3_1  (int) 8, 8, 8, 8, 5, 5, 8, 8, 3, 3, 7, 7, 6, 6, 4, 4, 4, 4, 4, 4...
$ fun3_1   (int) 8, 8, 8, 8, 10, 10, 9, 9, 6, 6, 8, 8, 5, 5, 8, 8, 8, 8, 8,...
$ intel3_1 (int) 8, 8, 8, 8, 8, 8, 7, 7, 10, 10, 9, 9, 7, 7, 8, 8, 8, 8, 8,...
$ amb3_1   (int) 7, 7, 7, 7, 3, 3, 8, 8, 8, 8, 5, 5, 7, 7, 8, 8, 8, 8, 8, 8...
$ attr5_1  (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ sinc5_1  (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ intel5_1 (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ fun5_1   (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ amb5_1   (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ dec      (int) 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1...
$ attr     (dbl) 5, 7, 5, 7, 7, 7, 8, 9, 8, 7, 8, 7, 7, 6, 8, 5, 8, 6, 6, 5...
$ sinc     (int) 8, 6, 6, 6, 9, 6, 10, 8, 5, 5, 6, 6, 8, 6, 7, 8, 6, 8, 8, ...
$ intel    (dbl) 9, 8, 7, 8, 7, 8, 7, 10, 5, 7, 7, 8, 8, 8, 7, 8, 5, 8, 8, ...
$ fun      (dbl) 8, 7, 7, 9, 6, 9, 10, 10, 7, 8, 8, 8, 7, 8, 9, 6, 6, 5, 5,...
$ amb      (dbl) 5, 6, 6, 8, 5, 4, 7, 7, 7, 7, 2, 6, 7, 8, 6, 7, 6, 6, 6, 5...
$ shar     (dbl) 7, 8, 6, 8, 7, 5, 10, 8, 9, 9, 8, 9, 6, 6, 7, 7, 5, 7, 7, ...
$ like     (dbl) 7, 7, 6, 7, 7, 5, 8, 8, 8, 9, 9, 9, 8, 6, 8, 5, 5, 6, 6, 5...
$ prob     (dbl) NA, 6, 6, 7, 8, 6, 10, 8, 2, 4, 4, 6, 6, 6, 7, 5, 6, 5, 5,...
$ met      (int) 1, 2, 2, 2, 2, 2, 1, 2, 1, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2...
$ match_es (dbl) 4, 4, 4, 4, 3, 3, 2, 2, NA, NA, 4, 4, 2, 2, NA, NA, NA, NA...
$ attr1_s  (dbl) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ sinc1_s  (dbl) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ intel1_s (dbl) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ fun1_s   (dbl) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ amb1_s   (dbl) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ shar1_s  (dbl) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ attr3_s  (dbl) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ sinc3_s  (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ intel3_s (dbl) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ fun3_s   (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ amb3_s   (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ satis_2  (int) 6, 6, 6, 6, 5, 5, 4, 4, 7, 7, 3, 3, NA, NA, NA, NA, NA, NA...
$ length   (int) 2, 2, 2, 2, 2, 2, 3, 3, 2, 2, 3, 3, NA, NA, NA, NA, NA, NA...
$ numdat_2 (int) 1, 1, 1, 1, NA, NA, 2, 2, 2, 2, 2, 2, NA, NA, NA, NA, NA, ...
$ attr7_2  (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ sinc7_2  (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ intel7_2 (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ fun7_2   (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ amb7_2   (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ shar7_2  (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ attr1_2  (dbl) 19.44, 19.44, 19.44, 19.44, 18.92, 18.92, 24.14, 24.14, 15...
$ sinc1_2  (dbl) 16.67, 16.67, 16.67, 16.67, 18.92, 18.92, 13.79, 13.79, 13...
$ intel1_2 (dbl) 13.89, 13.89, 13.89, 13.89, 21.62, 21.62, 20.69, 20.69, 18...
$ fun1_2   (dbl) 22.22, 22.22, 22.22, 22.22, 27.03, 27.03, 27.59, 27.59, 15...
$ amb1_2   (dbl) 11.11, 11.11, 11.11, 11.11, 5.41, 5.41, 10.34, 10.34, 15.7...
$ shar1_2  (dbl) 16.67, 16.67, 16.67, 16.67, 8.11, 8.11, 3.45, 3.45, 21.05,...
$ attr4_2  (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ sinc4_2  (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ intel4_2 (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ fun4_2   (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ amb4_2   (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ shar4_2  (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ attr2_2  (dbl) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ sinc2_2  (dbl) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ intel2_2 (dbl) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ fun2_2   (dbl) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ amb2_2   (dbl) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ shar2_2  (dbl) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ attr3_2  (int) 6, 6, 6, 6, 7, 7, 6, 6, 6, 6, 5, 5, NA, NA, NA, NA, NA, NA...
$ sinc3_2  (int) 7, 7, 7, 7, 6, 6, 8, 8, 6, 6, 8, 8, NA, NA, NA, NA, NA, NA...
$ intel3_2 (int) 8, 8, 8, 8, 8, 8, 7, 7, 9, 9, 9, 9, NA, NA, NA, NA, NA, NA...
$ fun3_2   (int) 7, 7, 7, 7, 9, 9, 8, 8, 9, 9, 8, 8, NA, NA, NA, NA, NA, NA...
$ amb3_2   (int) 6, 6, 6, 6, 4, 4, 6, 6, 9, 9, 3, 3, NA, NA, NA, NA, NA, NA...
$ attr5_2  (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ sinc5_2  (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ intel5_2 (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ fun5_2   (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ amb5_2   (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ you_call (int) 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, NA, NA, NA, NA, NA, NA, NA, ...
$ them_cal (int) 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, NA, NA, NA, NA, NA, NA, NA, ...
$ date_3   (int) 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, NA, NA, NA, NA, NA, NA, NA, ...
$ numdat_3 (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ num_in_3 (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ attr1_3  (dbl) 15, 15, 15, 15, 30, 30, 20, 20, 30, 30, NA, NA, NA, NA, NA...
$ sinc1_3  (dbl) 20, 20, 20, 20, 5, 5, 20, 20, 10, 10, NA, NA, NA, NA, NA, ...
$ intel1_3 (dbl) 20, 20, 20, 20, 40, 40, 20, 20, 20, 20, NA, NA, NA, NA, NA...
$ fun1_3   (dbl) 15, 15, 15, 15, 15, 15, 20, 20, 20, 20, NA, NA, NA, NA, NA...
$ amb1_3   (dbl) 15, 15, 15, 15, 0, 0, 0, 0, 10, 10, NA, NA, NA, NA, NA, NA...
$ shar1_3  (dbl) 15, 15, 15, 15, 10, 10, 20, 20, 10, 10, NA, NA, NA, NA, NA...
$ attr7_3  (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ sinc7_3  (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ intel7_3 (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ fun7_3   (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ amb7_3   (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ shar7_3  (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ attr4_3  (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ sinc4_3  (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ intel4_3 (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ fun4_3   (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ amb4_3   (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ shar4_3  (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ attr2_3  (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ sinc2_3  (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ intel2_3 (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ fun2_3   (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ amb2_3   (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ shar2_3  (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ attr3_3  (int) 5, 5, 5, 5, 7, 7, 6, 6, 4, 4, NA, NA, NA, NA, NA, NA, NA, ...
$ sinc3_3  (int) 7, 7, 7, 7, 6, 6, 5, 5, 5, 5, NA, NA, NA, NA, NA, NA, NA, ...
$ intel3_3 (int) 7, 7, 7, 7, 9, 9, 6, 6, 10, 10, NA, NA, NA, NA, NA, NA, NA...
$ fun3_3   (int) 7, 7, 7, 7, 9, 9, 8, 8, 6, 6, NA, NA, NA, NA, NA, NA, NA, ...
$ amb3_3   (int) 7, 7, 7, 7, 4, 4, 5, 5, 10, 10, NA, NA, NA, NA, NA, NA, NA...
$ attr5_3  (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ sinc5_3  (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ intel5_3 (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ fun5_3   (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ amb5_3   (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...

#整理Female Train Set  

a_female match=0;b_female match=0  
b_female_race1=race1|age(20,30)  
b_female_race2=race2|age(20,30)|field_cd == 11 & 15  
b_female_race3=race3|age(20,30)|field_cd == 11 & 15  
b_female_race4=race3|age(20,30)  
b_female_race6=race3|age(20,30)

In [4]:
b<-read.csv("Train_Match_0.csv")

In [5]:
b_female <-b %>%
filter(gender == 0)

In [6]:
a_female %>%
glimpse()

ERROR: Error in eval(expr, envir, enclos): object 'a_female' not found

In [7]:
table(a_female$race)
#Race of match_1,female

ERROR: Error in table(a_female$race): object 'a_female' not found

In [8]:

table(b_female$race)
#Race of match_0,female

   1    2    3    4    6
 189 1697  246  767  149

match_0,female 調整成


|   1  |  2  |  3  |  4  |  6 |
|------|------|------|------|------|
| 189 | 1697 | 246 | 767 | 149 |

In [9]:
b_female_race1<-b_female %>%
filter(race == 1) %>%
filter(age <31 | age >20)
#b_female_race1=race1&age(20,30)

In [10]:
b_female_race2<-b_female %>%
filter(race == 2) %>%
filter(age <31 | age >20) %>%
filter(field_cd == c(11,  15))

#b_female_race2=race2&age(20,30)&field_cd == 11 & 15

Warning message:
In c(1L, 1L, 1L, 1L, 1L, 1L, 1L, 1L, 2L, 2L, 2L, 2L, 2L, 2L, 2L, : longer object length is not a multiple of shorter object length

In [11]:
b_female_race3<-b_female %>%
filter(race == 3) %>%
filter(age <31 | age >20) %>%
filter(field_cd == c(11 ,15))
#b_female_race3=race3&age(20,30)&field_cd == 11 & 15

In [12]:
b_female_race4<-b_female %>%
filter(race == 4) %>%
filter(age <31 | age >20) 
#b_female_race4=race3&age(20,30)

In [13]:
b_female_race6<-b_female %>%
filter(race == 6) %>%
filter(age <31 | age >20) 
#b_female_race6=race3&age(20,30)

In [14]:
bind_rows(a_female,b_female_race1,b_female_race2,b_female_race3,b_female_race4,b_female_race6) %>%
write.csv(file="female_train_mix1.csv")

ERROR: Error in bind_rows(a_female, b_female_race1, b_female_race2, b_female_race3, : object 'a_female' not found

#整理Male Train Set

In [15]:
a_male <-a %>%
filter(gender == 1)

In [16]:
b_male <-b %>%
filter(gender == 1)

In [17]:
b_male%>%
glimpse()

Observations: 3,092
Variables: 197
$ X        (int) 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84...
$ recordid (int) 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112...
$ iid      (int) 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 12, 12, 12, 12, 12...
$ id       (int) 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3...
$ gender   (int) 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1...
$ idg      (int) 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 4, 4, 4, 4, 4, 4, 4, 4, 6, 6...
$ condtn   (int) 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1...
$ wave     (int) 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1...
$ round    (int) 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10...
$ position (int) 7, 3, 9, 6, 4, 8, 5, 10, 1, 2, 7, 3, 9, 6, 4, 8, 5, 2, 3, ...
$ positin1 (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ order    (int) 4, 10, 6, 3, 1, 5, 2, 7, 8, 9, 3, 9, 5, 2, 10, 4, 1, 8, 6,...
$ partner  (int) 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 10, 2,...
$ pid      (int) 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 10, 2,...
$ match    (int) 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...
$ int_corr (dbl) 0.14, 0.29, -0.24, -0.18, -0.43, 0.33, 0.19, -0.03, 0.19, ...
$ samerace (int) 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0...
$ age_o    (int) 21, 24, 25, 23, 21, 23, 22, 25, 26, 26, 21, 24, 25, 23, 21...
$ race_o   (int) 4, 2, 2, 2, 2, 4, 4, 2, 6, 2, 4, 2, 2, 2, 2, 4, 4, 2, 2, 2...
$ pf_o_att (dbl) 15.00, 45.00, 35.00, 20.00, 20.00, 10.00, 15.00, 9.09, 20....
$ pf_o_sin (dbl) 20.00, 5.00, 10.00, 20.00, 5.00, 25.00, 15.00, 18.18, 10.0...
$ pf_o_int (dbl) 20.00, 25.00, 35.00, 20.00, 25.00, 20.00, 25.00, 27.27, 20...
$ pf_o_fun (dbl) 15.00, 20.00, 10.00, 20.00, 25.00, 25.00, 20.00, 18.18, 30...
$ pf_o_amb (dbl) 15.00, 0.00, 10.00, 10.00, 10.00, 5.00, 15.00, 18.18, 10.0...
$ pf_o_sha (dbl) 15.00, 5.00, 0.00, 10.00, 15.00, 15.00, 10.00, 9.09, 10.00...
$ dec_o    (int) 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0...
$ attr_o   (dbl) 6, 5, 7, 4, 5, 6, 4, 5, 8, 6, 7, 8, 9, 8, 8, 6, 6, 1, 5, 7...
$ sinc_o   (dbl) 9, 7, 9, 10, 8, 9, 8, 8, 10, 10, 8, 5, 7, 7, 6, 9, 6, 1, 8...
$ intel_o  (dbl) 7, 8, 10, 8, 8, 7, 8, 7, 9, 10, 7, 6, 9, 8, 6, 9, 8, 1, 9,...
$ fun_o    (dbl) 7, 4, 7, 5, 2, 6, 5, 4, 8, 6, 8, 6, 8, 10, 5, 6, 4, 1, 6, ...
$ amb_o    (dbl) 6, 6, 8, 8, 2, 7, 7, 7, 7, 6, 5, 9, 9, 7, 5, 8, 9, 1, 3, 9...
$ shar_o   (dbl) 5, 3, 9, 7, 2, 6, 4, 5, 6, NA, 6, 6, 7, 8, 5, 2, 4, NA, 4,...
$ like_o   (dbl) 7, 6, 8, 6, 7, 6, 7, 4, 5, 6, 7, 7, 8, 8, 6, 7, 7, 1, 6, 8...
$ prob_o   (dbl) 6, 4, 7, 7, 5, 6, 4, 5, 5, 3, 5, 3, 7, 1, 4, 6, 3, 1, 7, 7...
$ met_o    (int) 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 1, 1, 2, 1, 1, 2, 2...
$ age      (int) 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 22, 22, 22, 22, 22...
$ field    (fctr) Finance, Finance, Finance, Finance, Finance, Finance, Fin...
$ field_cd (int) 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1...
$ undergra (fctr) , , , , , , , , , , , , , , , , , , , , , , , , ,
$ mn_sat   (fctr) , , , , , , , , , , , , , , , , , , , , , , , , ,
$ tuition  (fctr) , , , , , , , , , , , , , , , , , , , , , , , , ,
$ race     (int) 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 4, 4...
$ imprace  (int) 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 1, 1, 1, 1, 1, 1, 1, 1, 3, 3...
$ imprelig (int) 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 1, 1, 1, 1, 1, 1, 1, 1, 5, 5...
$ from     (fctr) Argentina, Argentina, Argentina, Argentina, Argentina, Ar...
$ zipcode  (fctr) 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 14,850, 14,850, 14,850, 14,...
$ income   (fctr) , , , , , , , , , , 29,237.00, 29,237.00, 29,237.00, 29,2...
$ goal     (int) 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2...
$ date     (int) 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 1, 1, 1, 1, 1, 1, 1, 1, 7, 7...
$ go_out   (int) 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1...
$ career   (fctr) Academia, Research, Banking, Life, Academia, Research, Ba...
$ career_c (int) 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1...
$ sports   (int) 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 9, 9, 9, 9, 9, 9, 9, 9, 7, 7...
$ tvsports (int) 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 8, 8...
$ exercise (int) 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 9, 9, 9, 9, 9, 9, 9, 9, 2, 2...
$ dining   (int) 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 8, 8, 8, 8, 8, 8, 8, 8, 9, 9...
$ museums  (int) 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 5, 5...
$ art      (int) 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6...
$ hiking   (int) 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4...
$ gaming   (int) 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 3, 3, 3, 3, 3, 3, 3, 3, 7, 7...
$ clubbing (int) 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 5, 5, 7, 7...
$ reading  (int) 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6...
$ tv       (int) 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 6, 6, 6, 6, 6, 6, 6, 6, 8, 8...
$ theater  (int) 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 10, ...
$ movies   (int) 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 7, 7, 7, 7, 7, 7, 7, 7, 8, 8...
$ concerts (int) 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 9, 9...
$ music    (int) 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9...
$ shopping (int) 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 8, 8...
$ yoga     (int) 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 5, 5, 5, 5, 5, 5, 5, 5, 1, 1...
$ exphappy (int) 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 3, 3...
$ expnum   (int) 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 20, 20, 20, 20, 20, 20, 20, ...
$ attr1_1  (dbl) 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 60, 60, 60, 60, 60...
$ sinc1_1  (dbl) 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 0, 0, 0, 0, 0, 0, ...
$ intel1_1 (dbl) 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 0, 0, 0, 0, 0, 0, ...
$ fun1_1   (dbl) 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 40, 40, 40, 40, 40...
$ amb1_1   (dbl) 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 14, ...
$ shar1_1  (dbl) 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 0, 0, 0, 0, 0, 0, 0, 0, 12, ...
$ attr4_1  (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ sinc4_1  (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ intel4_1 (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ fun4_1   (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ amb4_1   (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ shar4_1  (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ attr2_1  (dbl) 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25...
$ sinc2_1  (dbl) 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 15, 15, 15, 15, 15, 15, 15, ...
$ intel2_1 (dbl) 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 25, 25, 25, 25, 25...
$ fun2_1   (dbl) 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20...
$ amb2_1   (dbl) 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 15, 15, 15, 15, 15...
$ shar2_1  (dbl) 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 0, 0, 0, 0, 0, 0, 0, 0, 14, ...
$ attr3_1  (int) 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 9, 9, 9, 9, 9, 9, 9, 9, 4, 4...
$ sinc3_1  (int) 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 7, 7...
$ fun3_1   (int) 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 9, 9, 9, 9, 9, 9, 9, 9, 8, 8...
$ intel3_1 (int) 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 10, 10, 10, 10, 10, 10, 10, ...
$ amb3_1   (int) 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 9, 9, 9, 9, 9, 9, 9, 9, 3, 3...
$ attr5_1  (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ sinc5_1  (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ intel5_1 (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ fun5_1   (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ amb5_1   (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ dec      (int) 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1...
$ attr     (dbl) 6, 8, 7, 6, 6, 7, 7, 8, 6, 7, 7, 7, 6, 6, 6, 6, 7, 1, 10, ...
$ sinc     (dbl) 8, 7, 8, 7, 8, 9, 8, 7, 8, 8, 8, 6, 7, 5, 7, 8, 9, 1, 10, ...
$ intel    (dbl) 8, 6, 6, 8, 8, 8, 8, 6, 7, 7, 10, 10, 10, 10, 10, 10, 10, ...
$ fun      (dbl) 8, 9, 5, 7, 8, 9, 8, 6, 8, 8, 7, 6, 6, 6, 7, 6, 6, 1, 10, ...
$ amb      (dbl) 8, 7, 8, 7, 7, 8, 7, 6, 7, 6, 7, 6, 6, 6, 6, 7, 6, 1, 10, ...
$ shar     (dbl) 6, 4, 4, 5, 6, 4, 7, 5, 5, 5, 5, 5, 5, 5, 5, 6, 5, 1, 10, ...
$ like     (dbl) 7, 7, 5, 6, 6, 7, 7, 7, 6, 6, 8, 8, 7, 6, 7, 7, 8, 1, 10, ...
$ prob     (dbl) 4, 2, 2, 3, 5, 4, 4, 4, 4, 3, 4, 4, 3, 3, 4, 4, 4, 1, 10, ...
$ met      (int) 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 2, 1, 2, 2, 2...
$ match_es (dbl) 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 3, 3, 3, 3, 3, 3, 3, NA, ...
$ attr1_s  (dbl) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ sinc1_s  (dbl) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ intel1_s (dbl) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ fun1_s   (dbl) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ amb1_s   (dbl) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ shar1_s  (dbl) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ attr3_s  (dbl) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ sinc3_s  (dbl) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ intel3_s (dbl) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ fun3_s   (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ amb3_s   (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ satis_2  (int) 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, NA, NA, NA, NA, NA, NA, NA, ...
$ length   (int) 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, NA, NA, NA, NA, NA, NA, NA, ...
$ numdat_2 (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ attr7_2  (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ sinc7_2  (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ intel7_2 (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ fun7_2   (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ amb7_2   (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ shar7_2  (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ attr1_2  (dbl) 19.51, 19.51, 19.51, 19.51, 19.51, 19.51, 19.51, 19.51, 19...
$ sinc1_2  (dbl) 17.07, 17.07, 17.07, 17.07, 17.07, 17.07, 17.07, 17.07, 17...
$ intel1_2 (dbl) 17.07, 17.07, 17.07, 17.07, 17.07, 17.07, 17.07, 17.07, 17...
$ fun1_2   (dbl) 17.07, 17.07, 17.07, 17.07, 17.07, 17.07, 17.07, 17.07, 17...
$ amb1_2   (dbl) 12.20, 12.20, 12.20, 12.20, 12.20, 12.20, 12.20, 12.20, 12...
$ shar1_2  (dbl) 17.07, 17.07, 17.07, 17.07, 17.07, 17.07, 17.07, 17.07, 17...
$ attr4_2  (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ sinc4_2  (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ intel4_2 (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ fun4_2   (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ amb4_2   (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ shar4_2  (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ attr2_2  (dbl) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ sinc2_2  (dbl) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ intel2_2 (dbl) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ fun2_2   (dbl) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ amb2_2   (dbl) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ shar2_2  (dbl) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ attr3_2  (int) 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, NA, NA, NA, NA, NA, NA, NA, ...
$ sinc3_2  (int) 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, NA, NA, NA, NA, NA, NA, NA, ...
$ intel3_2 (int) 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, NA, NA, NA, NA, NA, NA, NA, ...
$ fun3_2   (int) 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, NA, NA, NA, NA, NA, NA, NA, ...
$ amb3_2   (int) 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, NA, NA, NA, NA, NA, NA, NA, ...
$ attr5_2  (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ sinc5_2  (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ intel5_2 (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ fun5_2   (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ amb5_2   (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ you_call (int) 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, NA, NA, NA, NA, NA, NA, NA, ...
$ them_cal (int) 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, NA, NA, NA, NA, NA, NA, NA, ...
$ date_3   (int) 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, NA, NA, NA, NA, NA, NA, NA, ...
$ numdat_3 (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ num_in_3 (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ attr1_3  (dbl) 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, NA, NA, NA, NA, NA...
$ sinc1_3  (dbl) 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, NA, NA, NA, NA, NA...
$ intel1_3 (dbl) 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, NA, NA, NA, NA, NA...
$ fun1_3   (dbl) 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, NA, NA, NA, NA, NA...
$ amb1_3   (dbl) 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, NA, NA, NA, NA, NA, NA, NA, ...
$ shar1_3  (dbl) 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, NA, NA, NA, NA, NA...
$ attr7_3  (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ sinc7_3  (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ intel7_3 (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ fun7_3   (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ amb7_3   (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ shar7_3  (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ attr4_3  (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ sinc4_3  (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ intel4_3 (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ fun4_3   (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ amb4_3   (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ shar4_3  (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ attr2_3  (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ sinc2_3  (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ intel2_3 (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ fun2_3   (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ amb2_3   (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ shar2_3  (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ attr3_3  (int) 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, NA, NA, NA, NA, NA, NA, NA, ...
$ sinc3_3  (int) 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, NA, NA, NA, NA, NA, NA, NA, ...
$ intel3_3 (int) 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, NA, NA, NA, NA, NA, NA, NA, ...
$ fun3_3   (int) 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, NA, NA, NA, NA, NA, NA, NA, ...
$ amb3_3   (int) 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, NA, NA, NA, NA, NA, NA, NA, ...
$ attr5_3  (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ sinc5_3  (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ intel5_3 (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ fun5_3   (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...
$ amb5_3   (int) NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA...

In [18]:
table(a_male$race)

  1   2   3   4   6
 31 398  45  94  45

In [19]:
table(b_male$race)

   1    2    3    4    6
 126 1836  216  689  210

In [23]:
b_male_race1<-b_male %>%
filter(race == 1) %>%
filter(age <33 | age >20) %>% 
filter(field_cd == c(5, 8,1,2,10,18))

In [24]:
b_male_race2<-b_male %>%
filter(race == 2) %>%
filter(age <33 | age >20) %>% 
filter(field_cd == c(5, 8,1,2,10,18))
table(b_male_race2$field_cd)

Warning message:
In c(8L, 8L, 8L, 8L, 8L, 8L, 8L, 8L, 8L, 8L, 1L, 1L, 1L, 1L, 1L, : longer object length is not a multiple of shorter object length

  1   2   5   8  10
 23   9  29 124  52

In [25]:
b_male_race3<-b_male %>%
filter(race == 3) %>%
filter(age <33 | age >20) %>% 
filter(field_cd == c(5, 8,1,2,10,18))
table(b_male_race3$field_cd)

 1  5  8 10
 3  3 16  2

In [27]:
b_male_race4<-b_male %>%
filter(race == 4) %>%
filter(age <33 | age >20) %>% 
filter(field_cd == c(5, 8,1,2,10,18))
table(b_male_race4$field_cd)

Warning message:
In c(1L, 1L, 1L, 1L, 1L, 1L, NA, NA, NA, NA, NA, NA, NA, NA, NA, : longer object length is not a multiple of shorter object length

 1  2  5  8 10 18
 7  8 19 41 16  2

In [28]:
b_male_race6<-b_male %>%
filter(race == 6) %>%
filter(age <33 | age >20) %>% 
filter(field_cd == c(5, 8,1,2,10,18))
table(b_male_race6$field_cd)

 1  5  8 10
 8  5 11  2

In [29]:
bind_rows(a_male,b_male_race1,b_male_race2,b_male_race3,b_male_race4,b_male_race6) %>%
write.csv(file="male_train_mix1.csv")

Warning message:
In rbind_all(x, .id): Unequal factor levels: coercing to characterWarning message:
In rbind_all(x, .id): Unequal factor levels: coercing to characterWarning message:
In rbind_all(x, .id): Unequal factor levels: coercing to characterWarning message:
In rbind_all(x, .id): Unequal factor levels: coercing to characterWarning message:
In rbind_all(x, .id): Unequal factor levels: coercing to characterWarning message:
In rbind_all(x, .id): Unequal factor levels: coercing to characterWarning message:
In rbind_all(x, .id): Unequal factor levels: coercing to characterWarning message:
In rbind_all(x, .id): Unequal factor levels: coercing to character

In [30]:
bind_rows(a_male,b_male_race1,b_male_race2,b_male_race3,b_male_race4,b_male_race6) %>%
str()

Warning message:
In rbind_all(x, .id): Unequal factor levels: coercing to characterWarning message:
In rbind_all(x, .id): Unequal factor levels: coercing to characterWarning message:
In rbind_all(x, .id): Unequal factor levels: coercing to characterWarning message:
In rbind_all(x, .id): Unequal factor levels: coercing to characterWarning message:
In rbind_all(x, .id): Unequal factor levels: coercing to characterWarning message:
In rbind_all(x, .id): Unequal factor levels: coercing to characterWarning message:
In rbind_all(x, .id): Unequal factor levels: coercing to characterWarning message:
In rbind_all(x, .id): Unequal factor levels: coercing to character

Classes ‘tbl_df’, ‘tbl’ and 'data.frame':	1009 obs. of  197 variables:
 $ recordid: int  118 119 121 128 129 130 131 132 134 135 ...
 $ iid     : int  12 12 13 13 13 13 14 14 14 14 ...
 $ id      : int  2 2 3 3 3 3 4 4 4 4 ...
 $ gender  : int  1 1 1 1 1 1 1 1 1 1 ...
 $ idg     : int  4 4 6 6 6 6 8 8 8 8 ...
 $ condtn  : int  1 1 1 1 1 1 1 1 1 1 ...
 $ wave    : int  1 1 1 1 1 1 1 1 1 1 ...
 $ round   : int  10 10 10 10 10 10 10 10 10 10 ...
 $ position: int  10 1 7 10 1 2 7 3 6 4 ...
 $ positin1: int  NA NA NA NA NA NA NA NA NA NA ...
 $ order   : int  6 7 10 3 4 5 5 1 4 2 ...
 $ partner : int  8 9 1 8 9 10 1 2 4 5 ...
 $ pid     : int  8 9 1 8 9 10 1 2 4 5 ...
 $ match   : int  1 1 1 1 1 1 1 1 1 1 ...
 $ int_corr: num  -0.11 0.03 0.16 0.42 0.68 -0.15 0.61 -0.21 -0.18 0.08 ...
 $ samerace: int  1 0 1 0 0 0 0 1 1 1 ...
 $ age_o   : int  25 26 21 25 26 26 21 24 23 21 ...
 $ race_o  : int  2 6 4 2 6 2 4 2 2 2 ...
 $ pf_o_att: num  9.09 20 15 9.09 20 15 15 45 20 20 ...
 $ pf_o_sin: num  18.2 10 20 18.2 10 ...
 $ pf_o_int: num  27.3 20 20 27.3 20 ...
 $ pf_o_fun: num  18.2 30 15 18.2 30 ...
 $ pf_o_amb: num  18.2 10 15 18.2 10 ...
 $ pf_o_sha: num  9.09 10 15 9.09 10 5 15 5 10 15 ...
 $ dec_o   : int  1 1 1 1 1 1 1 1 1 1 ...
 $ attr_o  : num  8 10 5 5 5 6 7 7 8 8 ...
 $ sinc_o  : num  7 10 8 8 10 10 6 9 10 5 ...
 $ intel_o : num  7 10 9 8 10 10 8 7 7 5 ...
 $ fun_o   : num  9 10 8 6 6 10 7 6 10 7 ...
 $ amb_o   : num  6 10 5 7 6 6 6 5 7 7 ...
 $ shar_o  : num  7 10 7 7 6 NA 8 7 10 9 ...
 $ like_o  : num  8 10 7 5 8 7 7 7 8 8 ...
 $ prob_o  : num  7 5 NA 5 5 6 6 8 10 2 ...
 $ met_o   : int  2 2 1 2 2 2 2 2 1 1 ...
 $ age     : int  22 22 22 22 22 22 23 23 23 23 ...
 $ field   : chr  "Law" "Law" "Law" "Law" ...
 $ field_cd: int  1 1 1 1 1 1 1 1 1 1 ...
 $ undergra: chr  "" "" "" "" ...
 $ mn_sat  : chr  "" "" "" "" ...
 $ tuition : chr  "" "" "" "" ...
 $ race    : int  2 2 4 4 4 4 2 2 2 2 ...
 $ imprace : int  1 1 3 3 3 3 1 1 1 1 ...
 $ imprelig: int  1 1 5 5 5 5 1 1 1 1 ...
 $ from    : chr  "England" "England" "Southern California" "Southern California" ...
 $ zipcode : chr  "14,850" "14,850" "92,821" "92,821" ...
 $ income  : chr  "29,237.00" "29,237.00" "" "" ...
 $ goal    : int  1 1 2 2 2 2 2 2 2 2 ...
 $ date    : int  1 1 7 7 7 7 4 4 4 4 ...
 $ go_out  : int  1 1 1 1 1 1 1 1 1 1 ...
 $ career  : chr  "Corporate Lawyer" "Corporate Lawyer" "Lawyer" "Lawyer" ...
 $ career_c: int  1 1 1 1 1 1 1 1 1 1 ...
 $ sports  : int  9 9 7 7 7 7 10 10 10 10 ...
 $ tvsports: int  7 7 8 8 8 8 6 6 6 6 ...
 $ exercise: int  9 9 2 2 2 2 8 8 8 8 ...
 $ dining  : int  8 8 9 9 9 9 8 8 8 8 ...
 $ museums : int  7 7 5 5 5 5 3 3 3 3 ...
 $ art     : int  6 6 6 6 6 6 3 3 3 3 ...
 $ hiking  : int  3 3 4 4 4 4 10 10 10 10 ...
 $ gaming  : int  3 3 7 7 7 7 8 8 8 8 ...
 $ clubbing: int  5 5 7 7 7 7 8 8 8 8 ...
 $ reading : int  6 6 6 6 6 6 6 6 6 6 ...
 $ tv      : int  6 6 8 8 8 8 7 7 7 7 ...
 $ theater : int  4 4 10 10 10 10 3 3 3 3 ...
 $ movies  : int  7 7 8 8 8 8 10 10 10 10 ...
 $ concerts: int  7 7 9 9 9 9 6 6 6 6 ...
 $ music   : int  9 9 9 9 9 9 8 8 8 8 ...
 $ shopping: int  5 5 8 8 8 8 6 6 6 6 ...
 $ yoga    : int  5 5 1 1 1 1 1 1 1 1 ...
 $ exphappy: int  7 7 3 3 3 3 8 8 8 8 ...
 $ expnum  : int  20 20 4 4 4 4 15 15 15 15 ...
 $ attr1_1 : num  60 60 19 19 19 19 30 30 30 30 ...
 $ sinc1_1 : num  0 0 18 18 18 18 5 5 5 5 ...
 $ intel1_1: num  0 0 19 19 19 19 15 15 15 15 ...
 $ fun1_1  : num  40 40 18 18 18 18 40 40 40 40 ...
 $ amb1_1  : num  0 0 14 14 14 14 5 5 5 5 ...
 $ shar1_1 : num  0 0 12 12 12 12 5 5 5 5 ...
 $ attr4_1 : int  NA NA NA NA NA NA NA NA NA NA ...
 $ sinc4_1 : int  NA NA NA NA NA NA NA NA NA NA ...
 $ intel4_1: int  NA NA NA NA NA NA NA NA NA NA ...
 $ fun4_1  : int  NA NA NA NA NA NA NA NA NA NA ...
 $ amb4_1  : int  NA NA NA NA NA NA NA NA NA NA ...
 $ shar4_1 : int  NA NA NA NA NA NA NA NA NA NA ...
 $ attr2_1 : num  25 25 20 20 20 20 20 20 20 20 ...
 $ sinc2_1 : num  15 15 16 16 16 16 15 15 15 15 ...
 $ intel2_1: num  25 25 16 16 16 16 20 20 20 20 ...
 $ fun2_1  : num  20 20 18 18 18 18 20 20 20 20 ...
 $ amb2_1  : num  15 15 16 16 16 16 5 5 5 5 ...
 $ shar2_1 : num  0 0 14 14 14 14 20 20 20 20 ...
 $ attr3_1 : int  9 9 4 4 4 4 9 9 9 9 ...
 $ sinc3_1 : int  9 9 7 7 7 7 9 9 9 9 ...
 $ fun3_1  : int  9 9 8 8 8 8 9 9 9 9 ...
 $ intel3_1: int  10 10 8 8 8 8 9 9 9 9 ...
 $ amb3_1  : int  9 9 3 3 3 3 9 9 9 9 ...
 $ attr5_1 : int  NA NA NA NA NA NA NA NA NA NA ...
 $ sinc5_1 : int  NA NA NA NA NA NA NA NA NA NA ...
 $ intel5_1: int  NA NA NA NA NA NA NA NA NA NA ...
 $ fun5_1  : int  NA NA NA NA NA NA NA NA NA NA ...
 $ amb5_1  : int  NA NA NA NA NA NA NA NA NA NA ...
 $ dec     : int  1 1 1 1 1 1 1 1 1 1 ...
  [list output truncated]